<p style="color: green"><%= notice %></p>
<%= link_to 'Back', url_for(:back), class: "btn btn-sm btn-secondary" %>


<%= render @list %>

<% @expenses.each do |expense| %>
  <%= expense.name %>
  <%= expense.amount %>
  <%= expense.cost %>
  <%= expense.total_cost %>
  <%= @category_names[expense.category_id-1] %>
<% end %>

<% if current_user.id == @list.user_id %>
  <h5>Add a new expense</h5>
  <%= link_to "New expense", new_list_expense_path(@list.id), class: "btn btn-sm btn-primary mb-4" %>

  <div class="d-flex">
    <%= link_to "Edit this list", edit_list_path(@list), class: "btn btn-sm btn-primary" %>
    <%= button_to "Destroy this list", @list, method: :delete, class: "btn btn-sm btn-danger" %>
  </div>
<% end %>
